.main_div_background {
    background-image: url(https://wallpapers.com/images/featured/aesthetic-pictures-hv6f88paqtseqh92.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(4px); 
    background-repeat: no-repeat;
    min-height: 650px;
    width: 100%;
    position: relative;
    z-index: -100;
}
.main_div {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.main_div_1{
    position: relative;
    /* z-index: 200; */
    top: 30px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 75px;
    padding-bottom: 30px;
}
.task_but,.note_but {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;
    /* background: none; */
    background-color: rgb(213, 98, 4);
    color: white;
    font-family:cursive;
    letter-spacing: 1px;
    font-size: 20px;
}
.main_div_2{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.tasks {
    width: 49%;
    position: relative;
    /* left: 1%; */
    border: 2px solid rgb(166, 131, 112);
    border-radius: 25px;
    min-height: 200px;
    /* background-color: rgb(254, 231, 204); */

}
.notes {
    width: 50%;
    position: relative;
    /* right: 1%; */
    border: 2px solid rgb(166, 131, 112);
    border-radius: 25px;
    min-height: 200px;

}
.add_task_main {
    position: relative;
    top: 5px;
    right: 5px;
    width: 100%;
    left: 0.6%;
    padding-bottom: 5px;
}
.add_task{
    height: 50px;
    width: 98%;
    position: relative;
    /* left: 0.5%; */
    top: 0px;
    background-color: rgb(241, 191, 138);
    border-radius: 27px;
    border: 3px solid rgb(130, 72, 10);
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 25px auto 150px;
    align-items: center;
    
}
.add_task i {
    color: rgb(130, 72, 10);
    font-size: 25px;
    position: relative;
    left: 5px;
}
.add_task button{
    height: 48px;
    width: 150px;
    border-radius: 25px;
    border: none;
    /* background: none; */
    background-color: rgb(213, 98, 4);
    color: white;
    font-family:cursive;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    /* top: 1px; */
    
}
.add_task button:hover {
    background-color: rgb(192, 88, 2);
}
.add_task input{
    /* width: max-content; */
    /* background-color: none; */
    background: none;
    border: none;
    background-color: rgb(254, 231, 204);
    width: 95%;
    height: 48px;
    border-radius: 24.5px;
    font-size: 30px;
    text-align: center;
    color: rgb(130, 72, 10);
    position: relative;
    left: 12px;
}
.task {
    /* display: flex;
    align-items: center; */
    background-color: rgb(254, 231, 204);
    width: 100%;
    display: grid;
    grid-template-columns: 40px auto 40px;
    align-items: center;
    border-radius: 30px;
    height: 60px;
    position: relative;
    /* justify-content: flex-end; */
}
.three_dots {
    font-size: 30px;
    color: rgb(130, 72, 10);
}
.checkbox_round{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    /* border: 1px solid red; */
    background: none;
    /* background-color: aqua; */
    appearance: none;
    background-color: white;
    /* border: 3px solid  rgb(130, 72, 10); */
    box-shadow: 0px 0px 5px 1px rgb(130, 72, 10);
}
.checkbox_round:checked {
    background-color: rgb(130, 72, 10);
    border: 6px solid white;
}
/* .checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
} */
.task input{
    border-radius: 15px;
    /* border: 1px solid red; */
    /* background-color: aqua; */


}
.task h3 {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    font-family:sans-serif;
    font-weight: 100;
    color: rgb(110, 61, 8);
}
.task_menu {
    position: absolute;
    top: 20px;
    right: 30px;
    /* height: 100px; */
    width: 100px;
    background-color: white;
    z-index: 100;
}
.task_menu button{
    height: 30px;
    width: 100%;
    background-color: white;
    border: none;
}
.task_menu button:hover {
    background-color: rgb(225, 209, 188);
}
.three_dots{
    text-align: center;
    border-radius: 50%;
    padding: 5px;

}
.three_dots:hover {
    background-color: rgb(243, 209, 172);
}
/* .three_dots {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 20px;
} */
.notes {
    min-height: 500px;
}
.add_notes {
    width: 99%;
    border: 3px solid rgb(110, 61, 8);
    border-radius: 25px;
    background-color: rgb(241, 191, 138);
    align-items: center;
    text-align: center;


}
.add_notes_1 {
    width: 99%;
    background-color: rgb(254, 231, 204);
    /* background: none; */
    position: relative;
    /* left: 1%; */
    min-height: 100px;
    border: 1px solid rgb(110, 61, 8);

}
textarea {
    resize: none;
    border-radius: 25px;
}
.add_notes_but {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;
    /* background: none; */
    background-color: rgb(213, 98, 4);
    color: white;
    font-family:cursive;
    letter-spacing: 1px;
    font-size: 20px;
}
.add_notes_but:hover {
    background-color: rgb(192, 88, 2);
}
.add_notes h3{
    font-family: cursive;
    color: rgb(110, 61, 8);
    background-color: rgb(254, 231, 204);
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
}
.title {
    border-radius: 10px;
    background-color: rgb(254, 231, 204);
    width: 250px;
    height: 25px;
    border: 1px solid rgb(110, 61, 8);

}
.display_none{
    display: none;
}
.display_block {
    display: block;
}